.about{

  margin-top:-20px;
  width:1359px;
  height: 1004px;
  margin-bottom: -320px;
  font-size: 13px;
  
}

/* .container1{
    height: 100vh;
    width : 100vh;
}

.container2{
    font-weight: bold;
    width: 100%;
    padding-left: 50px;
} */
.aboutcontent{
  display: flex;
  justify-content: justify;
    position: absolute;
    width: 1359px;
    height: 765px; 
}
.ac{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  height: 600px;
  overflow: hidden;
  margin-right: 120px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal; 
}

.bg-img{
    /* background-image: 
    url("https://i.pinimg.com/originals/f0/da/44/f0da44dc8397004b068f49242b24ee74.jpg"); */
    /* url:{`data:image/png;base64,${page.image}`}; */
    width: 100%;
    height: 300px;
  }
  .md{
    font-size: 30px;
    padding-top: 50px;
    font-weight: bold;
    padding-left: 50px;
    color: white;
  }
  .md-1{
    font-size: 15px;
    font-weight: bold;
    padding-left: 50px;
    margin-top: -20px;
    color: white;
  }
  