.footer {
    width: 1359px;
    margin-top: 320px;
    height: 170px;
    background-color: rgba(7, 41, 77, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10px; 
   
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;cursor: pointer;
  }
  .footer a {
    color: white;
    text-decoration: none;
    margin: 20px;
    margin-left: 10px;
  cursor: pointer;
  }
  
.icons {
    margin-left: 10px; 
    display: flex;
    align-items: center;
    padding-right: 590px;
    color: azure;
    position: absolute;
    background-color: transparent;
    margin-left: -380px;cursor: pointer;
  }
  .footer .rightSide button{
    background-color: transparent;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
   
  }
  .footer #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
 
  }
  
  .footer #close .hiddenLinks {
    display: none;
 
  }
  