.footer {
    width: 1359px;
    margin-top: 320px;
    height: 170px;
    background-color: rgba(7, 41, 77, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
   /* .footer p {
    color: white;display: flex;
  } */
  /* .footer a {
    color: white;
    text-decoration: none;
    margin: 20px;
    margin-left: 10px;

  position: absolute;
  
  */
.footer a{
    text-decoration: none;
    color:  #B8B8B8; 
    margin: 21px;  
  }
.icons{
    margin-left: 10px; 
    display: flex;
    align-items: center;
    padding-right: 590px;
    color: azure;
    position: absolute;
    background-color: transparent;
    margin-left: -380px;
  }
.footer .rightSide {
  color:#B8B8B8;
  background-color: transparent;
position: absolute;
  align-items: center;
  width: 870px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  font-size: 14px;
  margin-left: 350px;
  font-family: "Roboto Bold", "Roboto", sans-serif;
  font-weight: 430;
  font-style: normal;
}
.apifooter{
  padding: 10px;
  }
  /* .footer #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
 
  }
  
  .footer #close .hiddenLinks {
    display: none;
 
  }
   */
.footer2 {
    display: block;
   width: 1359px;
   height: 75px;
   position: absolute;
   background: inherit;
   background-color: rgba(2, 29, 58, 1); 
   border: none;
   border-radius: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-width: 0px;
   flex-direction: row;
   padding-top:-13px; 
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 18px;
   margin-top: 490px;
 }
