.footer {
    width: 10;
    height: 120px;
    background-color: rgba(7, 41, 77, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10px; 
    
    
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  }
  .footer a {
    color: white;
    text-decoration: none;
    margin: 20px;
    margin-left: 10px;
  }
  
.icons {
    margin-left: 10px; 
    display: flex;
    align-items: center;
    padding-right: 590px;
    color: azure;
    position: absolute;
    margin-left: -380px;
  }
  .footer .rightSide{
    
    margin-right: 10px;
    align-items: center;
  }
  
 