.navbar1 {
    width: 1349px;
    height: 81px;
    background: inherit;
    background-color: rgba(7, 41, 77, 1);
    display: flex;  
    position: absolute;
    box-shadow: none;margin-bottom: 700px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .navbar1 .leftSide2 {
    position: absolute;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 60px;
    align-items: center;
    background: inherit;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    box-shadow: none;
    
  }
  
  .navbar1 .leftSide img {
    width: 90px;
  }
  
  .navbar1 .rightSide1 {
    position: absolute;
    display: flex;
   flex-direction: row;
    margin-top: 6px;
    justify-content: right;
    align-items: center;
    box-shadow: none;
    margin-left:480px;
    width: 830px; 
    height: 60px;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
  }
.menutitlee{
  padding:10px; 
  }
  .navbar1 a {
    color: white;
    text-decoration: none;
    margin: 8px;
  }
  
  /* .navbar1 .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  } */
  
  /* .navbar1 .rightSide svg {
    font-size: 40px;
  }
  
  .navbar1 #open {
    padding-left: 0px;
  }
  .navbar1 #open img {
    display: none;
  }
  
  .navbar1 #close img {
    display: inherit;
  }
  
  .navbar1 #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar1 #close .hiddenLinks {
    display: none;
  }
  
  .navbar1 #open a {
    width: 70px;
    margin: 5px;
  } */
   /* @media (max-width: 900px) {
     .navbar1 {
     max-width: 2000px;
    
    } 
    .navbar1 .rightSide1 {

    }
  }  */
  /* @media only screen and (max-width: 900px) {
    .navbar1 .rightSide a {
      width: 70px;
    }
    .navbar1 .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar1 .rightSide a {
      display: none;
    }
  
    .navbar1 .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar1 .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar1 .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  } */
  .navbar {
    width: 1349px;
    height: 90px;
    background-color: #fdfeff;
    display: flex;
    margin-top: 80px;
  overflow: hidden;
  }
  .navbar .leftSide3 {
    display: flex;
    margin-left: -30px;
    align-items: center;
    padding-left: 90px;
    margin-top:10px;
  
  }
  
  .navbar .leftSide img {
    width: 70px;
  }
  
  .navbar .rightSide3 {
    display: flex;
    align-items: center;
    margin-top:35px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 430;
    font-style: normal;
    overflow: hidden;
    margin-left:410px;
    width: 900px; 
    justify-content: right;
    position: absolute;
  }
  .navbar a {
    color: rgb(20, 12, 12);
    text-decoration: none;
    margin: 20px;
  }
  .toplinkc1{
    padding: 5px;
  }
  .toplinkc2{
    padding: 5px;
  }
  .colorlink{
    color: grey;
  }
  /* @media only screen and (min-width: 300px) and (max-width: 700px) {
    .navbar1{
      max-width: 900px;
      --navbar1: 0!important;
    }
    .navbar1 .leftSide2{
    
     margin-left: 20px;
    }
    .navbar1 .rightSide1{
     margin-left: 60px;
     max-width: 700px;
     font-size: x-small;
     
    }
    .rightSide1 a{
      
    }
   .menutitlee{
    
   }
    
    .navbar{
      max-width: 100%;
    }
    .leftSide3{
      max-width: 760px;
    }
    .navbar .rightSide3{
     
      margin-left: -160px;
     
    }
  } */
