.navbar1 {
    width: 1359px;
    height: 81px;
    background: inherit;
    background-color: rgba(7, 41, 77, 1);
    display: flex;
    
    position: absolute;
    box-shadow: none;
  }
  
  .navbar1 .leftSide2 {
    
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 60px;
    align-items: center;
    background: inherit;
    font-family: "Roboto Bold", "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    box-shadow: none;
    position: absolute;
  }
  
  .navbar1 .leftSide img {
    width: 90px;
  }
  
  .navbar1 .rightSide1 {
    position: absolute;
    display: flex;
   flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 950px;
    position: relative;   box-shadow: none;
    padding-left:-16px; 
  }
  
  .navbar1 a {
    color: white;
    text-decoration: none;
    margin: 8px;
  }
  
  .navbar1 .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .navbar1 .rightSide svg {
    font-size: 40px;
  }
  
  .navbar1 #open {
    padding-left: 0px;
  }
  .navbar1 #open img {
    display: none;
  }
  
  .navbar1 #close img {
    display: inherit;
  }
  
  .navbar1 #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar1 #close .hiddenLinks {
    display: none;
  }
  
  .navbar1 #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navbar1 .rightSide a {
      width: 70px;
    }
    .navbar1 .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar1 .rightSide a {
      display: none;
    }
  
    .navbar1 .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar1 .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar1 .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }
 