.home {
    width: 1359px;
    margin-top: 325px;
    height: 580px;
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  /* .headerContainer {
    width: auto;
    margin-left: 50px;
  }
  
  .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color: black;
  }
  
  .headerContainer p {
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: black;
  }
  
  .headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .headerContainer button:hover {
    background-color: #07090a;
    cursor: pointer;
    transition: 0.3s ease-in;
  } */
  .body{
    display: flex;
    position: relative;
    width:1359px;
    height: 1194px;
    margin-top:25px;
    justify-content: center;
    text-align: justify;
    background:white;
    background-color: rgb(250, 245, 245);
  }
  .box{
    width:350px;
    display: flex;
    margin-left: 30px;
    height:390px;
    position: absolute;
    margin-top: 480px; 
    display:inline-block;
    margin-left: 10px;
  }
 
  #one{
    width:40%;
    justify-content: left; 
    margin-top: 600px;
    margin-right: 700px;
    position: absolute;
  }
  #two{
    width: 540px;
    display: flex;
    flex-direction: column;
    margin-top: 618px;
   position: absolute; 
  height:510px;
   background-color: white;
   margin-left: 670px; 
    opacity:0.1;
   z-index:1;
  }
  .textt{
    margin-left:80px;
    width: 170px;
    }
  #three{
    width: 400px;
   position: absolute;
   margin-left: 959px;
   height: 409px;
   margin-top: 685px; 
   z-index: 0;
   opacity: 0.7;
  
  } 
  .container{
    display : inline-block;
    flex-direction : row;
    justify-content: left;
    width: 70%;
    margin: 0 auto;

  }
  .content{
    padding: 40px;
    width: 200px;
    float: left;
    margin-left: 30px;
    justify-content: left;
    margin-bottom: 70px;
    text-align: justify;
    background-color: red;
  }
  .content2{
    padding: 40px;
    background-color: blue;
    width: 200px; 
    float: left;
    margin-left: 30px;
    text-align: justify;
  }
  
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
    .headerContainer h1,
    .headerContainer p {
    }
  
    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #6a8396;
      color: white;
    }
  
    .headerContainer h1 {
      font-size: 40px;
      height: 30px;
      color: white;
    }
  
    .headerContainer p {
      font-size: 30px;
      color: white;
    }
  
    .headerContainer button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }
  h3:before{
    content: "";
    position: absolute;
    width: 7%;
    height: 1px;
    margin-top: 29px;
    left: 0%;
    border-bottom: 1px solid  rgb(255, 187, 0);
    border-width: 3px;
}

.btn{
  margin-left: 0px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(7, 41, 77, 1);
  height:43px;
  width:140px;
  cursor: pointer;
  margin-top: -6px;
  border-radius: 4px;
  background-color: rgb(247, 205, 18);
}


h5{
  text-align: left;
  font-size: small;
}
.button1{
  border-radius: 4px;
  border-style: hidden;
}
.text4{

margin-right: 90px;
}
.titlenews{
min-width: 10px;
max-width: 70px;
 width:69px;
 height: 190px;
}
.boxx{
  margin-top: 800px; 
  width:60px;
  flex-direction: row;
  display: flex;
  border: solid;
  height:100px;
}
.line{
  margin-right: 105px;
}

.newshead{
  margin-left: 80px;
}
/* .box1234{
  width: 540px;
  margin-top: 618px;
 position: absolute; 
height:510px;
 background-color: white;
 margin-left: 670px; 
  opacity:0.3;
 z-index:2;
}
.box123455{
  width:90px;
  margin-right: -290px;
  margin-left: 280px;
  border: solid;
  margin-top: 700px;
  background-color: white;
  height: 150px;
position:static;
} */
.neww{
 border: solid;
 margin-block-end: 1100px ;
 display: flex;
 flex-direction: column;
 width: auto;
 height:auto;
 float: left;
}
