@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Roboto:wght@300;400;500;700&display=swap');
/* .home {
    width: 1349px;
    margin-top: 325px;
    height: 580px;
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    border: solid;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
   */
  
  .body{
    display: flex;
    position: relative;
    width:1349px;
    height: 1194px;
    margin-top:10px;
    margin-bottom: -320px;
    justify-content: center;
    text-align: justify;
    background:white;
    background-color: rgb(250, 245, 245);
  }
  .box{
    width:350px;
    display: flex;  
    margin-left: 30px;
    height:390px;
    position: absolute;
    margin-top: 480px; 
    display:inline-block;
    margin-left: 10px;
  }
 
  #one{
    width:40%;
    justify-content: left; 
    margin-top: 640px;
    margin-right: 700px;
    position: absolute;
    overflow: hidden;
    height: 390px;
     font-family: "Roboto";
  }
  #two{
    width: 540px;
    display: flex;
  border: solid;
    flex-direction: column;
    margin-top: 618px;
   position: absolute; 
  height:510px;
   background-color: white;
   margin-left: 670px; 
    /* opacity:0.1;
   z-index:1; */
  }
  .textt{
    width:350px;
    margin-left:30px;
    width: 170px; 
    height: 100px;
    }
  #three{
    width: 400px;
   position: absolute;
   margin-left: 899px;
   height: 409px;
   margin-top: 685px; 
   z-index: 0;
   opacity: 0.7;  
  } 
  .latestnews{
    margin-left: 690px;
    width:540px;
    height: 516px;
    background-color: white;
    opacity:0.8;
    z-index:1;
    margin-top: 640px;
    overflow: hidden;
    margin-bottom: -320px;
    font-family: "Roboto", sans-serif;
  }
  .t{
    margin-left: 75px;
    height: 120px;
    margin-top: 32px;
    margin-bottom: -20px;
  }
  .ti1{
    margin-top: -10px;
    overflow: hidden;
  }
  .ti2{
    font-size: 40px;
  }
  .line11{
    margin-right: 140px;
  
  }
  .container{
    display : inline-block;
    flex-direction : row;
    justify-content: left;
    width: 70%;
    margin: 0 auto;

  }
  .content{
    padding: 40px;
    width: 200px;
    float: left;
    margin-left: 30px;
    justify-content: left;
    margin-bottom: 70px;
    text-align: justify;
    background-color: red;
  }
  .content2{
    padding: 40px;
    background-color: blue;
    width: 200px; 
    float: left;
    margin-left: 30px;
    text-align: justify;
  }
  
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
    .headerContainer h1,
    .headerContainer p {
    }
  
    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #6a8396;
      color: white;
    }
  
    .headerContainer h1 {
      font-size: 40px;
      height: 30px;
      color: white;
    }
  
    .headerContainer p {
      font-size: 30px;
      color: white;
    }
  
    .headerContainer button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }
  h3:before{
    content: "";
    position: absolute;
    width: 7%;
    height: 1px;
    margin-top: 29px;
    left: 0%;
    border-bottom: 1px solid  rgb(255, 187, 0);
    border-width: 3px;
}

.btn3{
  margin-right: 1100px;
  position:absolute;
  font-size: 18px;
  font-weight: bold;
  color: rgba(7, 41, 77, 1);
  height:48px;
  width:140px;
  margin-top: 1060px;
  border-radius: 4px;
  background-color: rgb(247, 205, 18);
}
.button1{
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border: solid;
  margin-left: 0px;
  color: rgba(7, 41, 77, 1);
  background-color: transparent;
  border-radius: 4px;
  width:140px;
  height: 50px;
  border-style: hidden;
  font-family: "Roboto", sans-serif;
} 
h5{
  text-align: left;
  font-size: small;
}
.text4{

margin-right: 90px;
}
.titlenews{
min-width: 10px;
max-width: 70px;
 width:69px;
 height: 190px;
}
.boxx{
  margin-top: 800px; 
  width:60px;
  flex-direction: row;
  display: flex;
  border: solid;
  height:100px;
}


.newshead{
  margin-left: 80px;
}
.neww{
 border: solid;
 margin-block-end: 1100px ;
 display: flex;
 flex-direction: column;
 width: auto;
 height:auto;
 float: left;
}
.abouttitle{
  font-size: 55px;
  text-align: left;
  font-family: "Roboto", sans-serif;
}